$nav-text: #3D9090;
$background: #DBEEEE;
$basic-black: #000;
$section-border: #C4C4C4;
$background-choice: #BDDDDD;
$round: #E4D7B9;
$button-hover: #CEE6E6;
$button-active: #DEEEEE;
$btn-light-theme: #FFF3DA;
$btn-dark-theme: #90A1A1;
// шрифты
$font-first: "SFCompactDisplay", Arial, sans-serif;
